$border-size: 2px;
$border-color: black;

.stickyTableOuter {
  * {
    box-sizing: border-box;
  }
  position: relative;
  overflow: hidden;
  .fakeBorder {
    position: absolute;
    border-top: $border-size solid $border-color;
    border-left: $border-size solid $border-color;
    z-index: 3;
  }
  .stickyTable {
    position: relative;
    overflow: auto;
    .innerGrid {
      position: relative;
      overflow: hidden;
      & > * {
        overflow: hidden;
      }
    }
  }
  .stickyTableCell {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &.odd {
      background-color: #bbbbbb;
    }
    &:not(.odd) {
      background-color: white;
    }
  }
  .corner {
    z-index: 2;
    position: sticky;
    overflow: visible;
    .cornerInner {
      background-color: white;
      position: absolute;
      &.nw {
        border-right: $border-size solid $border-color;
        border-bottom: $border-size solid $border-color;
      }
      &.ne {
        border-left: $border-size solid $border-color;
        border-bottom: $border-size solid $border-color;
      }
      &.sw {
        border-right: $border-size solid $border-color;
        border-top: $border-size solid $border-color;
      }
      &.se {
        border-left: $border-size solid $border-color;
        border-top: $border-size solid $border-color;
      }
    }
  }
  .stickyHeader {
    position: sticky;
    z-index: 1;
    &.topHeader {
      top: 0;
      & > * {
        border-bottom: $border-size solid $border-color;
      }
    }
    &.leftHeader {
      left: 0;
      & > * {
        border-right: $border-size solid $border-color;
      }
    }
    &.bottomHeader {
      bottom: 0;
      & > * {
        border-top: $border-size solid $border-color;
      }
    }
    &.rightHeader {
      right: 0;
      & > * {
        border-left: $border-size solid $border-color;
      }
    }
  }
}
